* { box-sizing: border-box; }

/*body {
  font-family: sans-serif;
}*/

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}
/* ---- button-fall2016 ---- */



/* ---- button-group ---- */
.button-group {
  padding:25px;
  border-top: 1px solid black;
}
.button-group:after {
  
  
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- button-group-fall2016 ---- */


/* ---- isotope ---- */

.grid {
  border: 0px;
  margin-right: auto;
  margin-left: auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}


/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 300px;
  height: 150px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .agency {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .team {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .usecase {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.mobility          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.rapid-rehousing  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.school-info      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.equity-score        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transit-accessibility      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.small-town { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.summer-food       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.apprenticeship        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.skills         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.emotional-wellbeing       { background: #F08; background: hsl( 324, 100%, 50%); }
.element-item.suicide       { background: #F08; background: hsl( 350, 100%, 50%); }

/* ---- element-item-fall2016 ---- */

.button-fall2016 {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button-fall2016:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button-fall2016:active,
.button-fall2016.is-checked {
  background-color: #28F;
}

.button-fall2016.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button-fall2016:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

.button-group-fall2016 {
  padding:25px;
  border-top: 1px solid black;
}
.button-group-fall2016:after {
  
  
  content: '';
  display: block;
  clear: both;
}

.button-group-fall2016 .button-fall2016 {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group-fall2016 .button-fall2016:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group-fall2016 .button-fall2016:last-child { border-radius: 0 0.5em 0.5em 0; }

.grid-fall2016 {
  border: 0px;
  margin-right: auto;
  margin-left: auto;
}

/* clear fix */
.grid-fall2016:after {
  content: '';
  display: block;
  clear: both;
}
.element-item-fall2016 {
  position: relative;
  float: left;
  width: 300px;
  height: 150px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item-fall2016 > * {
  margin: 0;
  padding: 0;
}

.element-item-fall2016 .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item-fall2016 .agency {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item-fall2016 .team {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item-fall2016 .usecase {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}
.element-item-fall2016.reentry          { background: #050; background: hsl(   0, 100%, 50%); }
.element-item-fall2016.lgbtq-homelessness  { background: #080; background: hsl(  36, 100%, 50%); }
.element-item-fall2016.section-8      { background: #0F0; background: hsl(  72, 100%, 50%); }
.element-item-fall2016.domestic-violence        { background: #1F0; background: hsl( 108, 100%, 50%); }
.element-item-fall2016.rural      { background: #3FF; background: hsl( 144, 100%, 50%); }
.element-item-fall2016.advocacy { background: #77F; background: hsl( 180, 100%, 50%); }


/* ---- element-item-spring2016 ---- */

.button-spring2016 {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button-spring2016:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button-spring2016:active,
.button-spring2016.is-checked {
  background-color: #28F;
}

.button-spring2016.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button-spring2016:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

.button-group-spring2016 {
  padding:25px;
  border-top: 1px solid black;
}
.button-group-spring2016:after {
  
  
  content: '';
  display: block;
  clear: both;
}

.button-group-spring2016 .button-spring2016 {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group-spring2016 .button-spring2016:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group-spring2016 .button-spring2016:last-child { border-radius: 0 0.5em 0.5em 0; }

.grid-spring2016 {
  border: 0px;
  margin-right: auto;
  margin-left: auto;
}

/* clear fix */
.grid-spring2016:after {
  content: '';
  display: block;
  clear: both;
}
.element-item-spring2016 {
  position: relative;
  float: left;
  width: 300px;
  height: 150px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item-spring2016 > * {
  margin: 0;
  padding: 0;
}

.element-item-spring2016 .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item-spring2016 .agency {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.element-item-spring2016 .team {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item-spring2016 .usecase {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}
.element-item-spring2016.reentry          { background: #050; background: hsl(   0, 100%, 50%); }
.element-item-spring2016.lgbtq-homelessness  { background: #080; background: hsl(  36, 100%, 50%); }
.element-item-spring2016.section-8      { background: #0F0; background: hsl(  72, 100%, 50%); }
.element-item-spring2016.domestic-violence        { background: #1F0; background: hsl( 108, 100%, 50%); }
.element-item-spring2016.rural      { background: #3FF; background: hsl( 144, 100%, 50%); }
.element-item-spring2016.advocacy { background: #77F; background: hsl( 180, 100%, 50%); }

.background-styling {
  background-image: linear-gradient(rgba(7, 7, 104, 0.8), rgba(7, 7, 104, 0.8)
    ),
    url(../img/flags.jpg);
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 5em;
}
/*Photo Credit: https://pixabay.com/en/flags-american-manhattan-1425351/*/


.page-content-header-text h1 {
  color: white;
}

.page-content-header-text h3 {
  color: white;
}

.page-content-header-images img {
  width: 310px;
  height: 210px;
  object-fit: cover;
}

.panel-design {
  border-style: solid;
  border-width: 5px;
  border-color: #aeb0b5;
  margin-bottom: 2%;
}

.panel-design h2 {
  text-align: center;
  margin-top: 0.5em;
  height: 78px;
}

.panel-content-div {
  margin: 17px;
}

.panel-content-div img {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: 280px;
  height: 200px;
}

.panel-design p {
  height: 125px;
}

.filters-div {
  margin-top: 2em;
  margin-bottom: 2em;
}

#Container .mix {
  display: none;
}

.usa-button-show-all {
  background-color: red;
  border: 4px solid red;
}

.usa-button-show-all:hover {
  box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  background-color: red;
  color: white;
  border: 4px solid white;
}

.grid-filler {
  width: 11.17215%;
}

.gallery-header-text h1 {
  text-align: center;
}

.usa-button-outline.button-style {
    background-color: #ffffff;
    color: #0071bc; }
}


 @media screen and (min-width: 600px) {
  .panel-design {
    margin-right: 2.82916% !important;
  }
 }

 @media screen and (min-width: 1201px) {
  .panel-design {
      margin-right: 1.35765% !important;
  }
 }