<section class="ood" id="helpusbuild" style="background-color:#112e51;">
  <div class="usa-grid" style="background-color:#112e51;"></div>
    <div class="usa-grid-full" style="background-color:#112e51;">
       <div class="usa-width-one-whole" style="background-color:#112e51;" >
    
    
  <div class="usa-width-five-sixths" style="background-color:#112e51;  padding:15px 45px; ">
    <h2 class="white">Want to help us build the next version of the Opportunity Project?</h2>
        </div>
        <div class="usa-width-one-sixth" style="background-color:#112e51; padding:15px 45px;">
      <h2 class="white"><a href="http://eepurl.com/cd6yor"
         class="usa-button usa-button-outline usa-button-big" style=" float:right;">Join Us!</a></h2>
        </div>
         </div>
          </div>
  </section>
<footer class="usa-footer usa-footer-medium usa-sans usa-background-dark">
  <div class="usa-footer-secondary_section">
    <div class="usa-grid-full">
      <div class="usa-footer-logo usa-width-two-thirds">
        <a href="https://www.census.gov"
           ><img class="usa-footer-logo-img"
                 src="{{ "img/logos/census.png" | prepend: site.baseurl }}"
                 alt="Census Bureau Logo"></a>
        <a href="http://www.hud.gov"
           ><img class="usa-footer-logo-img"
                 src="{{ "img/logos/hud.png" | prepend: site.baseurl }}"
                 alt="HUD Logo"></a>
        <a href="https://www.commerce.gov"
           ><img class="usa-footer-logo-img"
                 src="{{ "img/logos/commerce.png" | prepend: site.baseurl }}"
                 alt="Commerce Logo"></a>
        <a href="https://presidentialinnovationfellows.gov"
           ><img class="usa-footer-logo-img"
                 src="{{ "img/logos/pif.png" | prepend: site.baseurl }}"
                 alt="PIF Logo"></a>
      </div>

      <div class="usa-footer-contact-links usa-width-one-third">
        <h3 class="usa-footer-contact-heading">{{ site.title }}</h3>
        <p>
          <a href="http://www.census.gov/privacy/">Data Protection and Privacy Policy</a>
          <br>
          <a href="{{ site.url }}">{{ site.url }}</a>
          <br>
          <a href="{{ site.repo_url }}">Visit on GitHub<i class="fa fa-github fa-fw"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>
