<div class="usa-grid">
  <h3>Data Inventory</h3>

  <p class="usa-font-lead">Use curated data related to opportunity from across federal and local governments. </p>
      <p class="ood-description">We believe that through collective action, we can use open data to build fair and equitable communities and expand opportunity for all, as citizens become better able to make informed decisions. Federal agencies, states, and local governments all compile data, and made many of the data sets public.To help you use that information through the Opportunity Project, we’ve pulled together some of the best federal and local open data sets for information on access to opportunity – things like affordable housing, good schools, safe streets, and healthcare.</p>
  <ul>
          <li>
            <p class="ood-description"><em>Federal data</em> provides information for the whole nation and comes from sources like the Census and federal agencies that collect data on poverty, employment, school equity, transit safety, and the locations of Federally Qualified Health Centers and Head Start centers, and much more.</p> 
          </li>
          <li>
            <p class="ood-description"><em>Local data</em> also provide important data that is best – or only – captured at the local level: things like homelessness, building permits, parks, crimes, local transit routes, preschool and daycare facilities, public wifi hotspot locations, healthy food stores, and local arts and culture (like the Mardi Gras parade route  in the New Orleans data).</p> 
          </li>
        </ul>
  <p class="usa-font-lead"><a href="https://github.com/uscensusbureau/opportunity/raw/master/TOP%20Federal%20and%20Local%20Metadata%20(082416).xlsx">Find more information on the data sets here.</a> </p>
</div>


<!--begin old data inventory-->
<div class="usa-grid">
  {% include_relative index_includes/data-inventory-provider.html id='federal' group_key='curator' %}

  {% capture sort_strings %}
    {% for p in site.data.data-providers %}
      {{ p[1].name | slugify }}__{{ p[0] }}
    {% endfor %}
  {% endcapture %}
  {% assign sort_strings = sort_strings | split:' ' | sort %}
  {% for sort_string in sort_strings %}
    {% assign sort_string_pair = sort_string | split:'__' %}
    {% assign id = sort_string_pair[1] %}
    {% if id != 'federal' %}
      {% include_relative index_includes/data-inventory-provider.html id=id group_key='topic' %}
   {% endif %}
  {% endfor %}
</div>

<!--end old data inventory-->

      <!--<div class="usa-grid">
     <div class="usa-accordion-bordered">
  <ul class="usa-unstyled-list">
    <li>
      <section class="ood-datasets">
        <button class="usa-button-unstyled" aria-expanded="false"
                aria-controls="collapsible-datasets-federal">
          
          <span class="ood-narrow-hide">Federal Data</span>
          
        </button>
           <button class="usa-button-unstyled" aria-expanded="false"
                aria-controls="collapsible-datasets-local">
          
          <span class="ood-narrow-hide">Local Data</span>
          
        </button>

        <div id="collapsible-datasets-federal" aria-hidden="true"
             class="usa-accordion-content">
          
          

          <table>
    <thead>
      <tr>
        <th scope="col">Resources</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><a href="http://www.bls.gov/cew/opendata.htm">BLS</a></th>
        <td>Quarterly Census of Employment and Wages</td>
        <td>Data Repository</td>
      </tr>
      <tr>
        <th scope="row"><a href="http://www2.census.gov/">Census</a></th>
        <td>American Community Survey - Census survey with information demographic and socioeconomic characteristics, etc.</td>
        <td>Data Repository</td>
      </tr>
        <tr>
        <th scope="row"><a href="http://www2.census.gov/">Census</a></th>
        <td>CitySDK - American Community Survey - CitySDK module with data from the ACS.</td>
        <td>Resource</td>
      </tr>
    
    </tbody>
  </table>
          

        </div>
        
        <div id="collapsible-datasets-local" aria-hidden="true"
             class="usa-accordion-content">

        

          <table>
    <thead>
      <tr>
        <th scope="col">City</th>
        <th scope="col">Description</th>
        <th scope="col">Provider</th>
            
      </tr>
    </thead>
    <tbody>
  
      <tr>
        <th scope="row">Baltimore</th>
        <td><a href="https://data.baltimorecity.gov/">City of Baltimore data site</a></td>
        <td><a href="https://data.world/search?q=tag%3Abaltimore">data.world datasets</a></td>
      </tr>
      <tr>
        <th scope="row">Chattanooga</th>
        <td><a href="https://data.chattlibrary.org">City of Chattanooga data site</a></td>
        <td><a href="https://data.world/search?q=tag%3Achattanooga">data.world datasets</a></td>
      </tr>
      <tr>
        <th scope="row">Detroit</th>
        <td><a href="https://data.detroitmi.gov">City of Detroit data site</a></td>
        <td><a href="https://data.world/search?q=tag%3Adetroit">data.world datasets</a></td>
      </tr>
   
     
    
    </tbody>
  </table>
          

        
          

        </div>
      </section>
    </li>
  </ul>
</div>
      </div>-->