<div class="usa-grid">
  <h3 id="datainventory">Data Inventory</h3>

  <p class="usa-font-lead">Use curated data related to opportunity from across federal and local governments. </p>
      <p class="ood-description">We believe that through collective action, we can use open data to build fair and equitable communities and expand opportunity for all. To help you use that information, we pulled together some of the best federal and local open data sets for information on access to opportunity. </p>
  <ul>
    
          <li>
                <p class="ood-description">Click on <a href="#federaldata">Federal data</a> to find information for the whole nation on poverty, employment, school equity, transit safety, and much more. </p>
          </li>
          <li>
              <p class="ood-description">Click on <a href="#localdata">Local data</a> to find neighborhood level information on things like homelessness, parks, crime, and healthy corner stores. </p>
          </li>
        </ul>
  
    <p class="ood-description"><a href="https://github.com/uscensusbureau/opportunity/raw/master/TOP%20Federal%20and%20Local%20Metadata%20(082416).xlsx">Find more information on the data sets here.</a> You can find thousands more government data sets at <a href="http://data.gov">data.gov</a>. See a data set with information on access to opportunity that’s missing? Join us in <a href="https://github.com/uscensusbureau/opportunity">GitHub</a> and add new suggestions!</p>
  
  <p>  
</p>
  
  

</div>


<!--begin old data inventory-->
<div class="usa-grid" id="federaldata">
  {% include_relative index_includes/data-inventory-provider.html id='federal' group_key='curator' %}

  {% capture sort_strings %}
    {% for p in site.data.data-providers %}
      {{ p[1].name | slugify }}__{{ p[0] }}
    {% endfor %}
  {% endcapture %}
  {% assign sort_strings = sort_strings | split:' ' | sort %}
  {% for sort_string in sort_strings %}
    {% assign sort_string_pair = sort_string | split:'__' %}
    {% assign id = sort_string_pair[1] %}
    {% if id != 'federal' %}
      {% include_relative index_includes/data-inventory-provider.html id=id group_key='topic' %}
   {% endif %}
  {% endfor %}
</div>



