<div class="usa-grid">
  <h3>User Scenarios</h3>

  <p>The Opportunity Project is about creating digital solutions to help individuals and communities to thrive. What problem will you solve?</p>
  <ul>
          <li>
            <p class="ood-description">Start with a problem statement that comes from experts, advocates, or your own knowledge of your community. Your team might come up with something like: <em> “People in our community need better access to healthcare services they can get to without a car.”</em></p> 
          </li>
          <li>
            <p class="ood-description">Read these user scenarios to guide your team:  Experts have already shared information on problems facing families and communities. These scenarios were created by experts and advocates to describe the real, complex challenges that people are facing in accessing the resources they need to thrive. Use the scenarios in your design process to ensure that what you build responds to real needs. <a href="https://github.com/uscensusbureau/opportunity">Want to add a scenario?  Join us in GitHub.</a></p> 
          </li>
        <li>
            <p class="ood-description">Do user testing!  We encourage all teams participating in the Opportunity project to conduct user interviews, usability assessments and other forms of user testing to ensure that people with lived experience in the target problems.</p> 
          </li>
     <li>
            <p class="ood-description">Want to discuss user testing or share your expertise?  Join the conversation in <a href="https://opportunity-slack.herokuapp.com/">Slack</a> and <a href="https://github.com/uscensusbureau/opportunity">GitHub</a>. </p> 
          </li>
        </ul>
</div>
<div class="usa-grid">
  {% for s in site.data.scenarios %}
    {% assign id = s[0] %}
    {% include_relative index_includes/scenario.html id=id %}
  {% endfor %}
</div>
