<div class="usa-grid">
  <h3 id="userscenarios">User Scenarios</h3>

  <p>The Opportunity Project is about creating digital solutions to help individuals and communities to thrive. This starts with identifying real problems faced by real people in their everyday lives. 
</p>
  <ul>
          <li>
            <p class="ood-description">Work together with others in your community, experts or advocates to identify a need.</p> 
          </li>
      <li><em>OR</em></li>
          <li>
            <p class="ood-description">Use the below user scenarios that were carefully developed to describe real, complex challenges in communities. <a href="https://github.com/uscensusbureau/opportunity">Want to add a scenario?  Join us in GitHub.</a></p> 
          </li>
        
        </ul>
</div>
<div class="usa-grid">
  {% for s in site.data.scenarios %}
    {% assign id = s[0] %}
    {% include_relative index_includes/scenario.html id=id %}
  {% endfor %}
</div>
